<div>
  <div class="row">
    <div class="col-xs-offset-1 col-xs-6">
      <table class="table table-striped" >
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Описание</th>
        <th>Категория</th>
      </tr>
        <tr 
          ng-repeat="product in products" 
          style="border: 1px solid green;" 
          ng-click="editProductOrBuyProduct(product)">
          <td>
            <img ng-src="/image/edit_25x25.png" alt="Description" />
            [[product.id]]
          </td>
          <td>[[product.name]]</td>
          <td>[[product.price]]</td>
          <td>[[product.description]]</td>
          <td>[[product.category_name]]</td>
          <td ng-show="!currentUser.isAdmin()">
            <button class="btn btn-info" ng-click="addInShopCart()">
              Buy
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
      <button 
        class    = "btn btn-info"
        ng-click = "addProduct()">
        Add new Product
      </button>
    </div>
  </div>
</div>

